# https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens
# we use a PAT to increase the amount of requests we can make to the GitHub API per hour.
GH_PERSONAL_ACCESS_TOKEN=""